* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #101010;
}

#content {
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
}

/* ================= HOME CONTENT ================= */

.hero-container {
    display: flex;
}

.hero-image {
    margin: 40px;
    max-height: calc(90vh - 80px);
}

.hero-text {
    display: grid;
    place-content: center;
    text-align: center;
    margin: 40px;
}

.hero-text h1 {
    font-size: 4rem;
}

.hero-text p {
    font-size: 2rem;
    margin-top: 20px;
}

/* ================= NAVBAR ================= */

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0;
    padding: 0 20px;
}

nav a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none; 
    color: #767676;
    font-size: 2rem;
}

nav a:hover {
    color: #4A4A4A;
}

.active {
    color: #6E2C02 !important;
    text-decoration: underline;
}

/* ================= MENU CONTENT ================= */

.menu-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 40px;
}

.menu-container article {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid black;
    border-radius: 3px;
    background-color: #f0e9e5;
    width: 30%;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.item-name img {
    margin-bottom: 10px;
    opacity: 0.7;
}

.item-price {
    font-size: 2rem;
    margin-top: auto;
}